    /* Add CSS styling here */
    
    html {
        font-size: 62.5%;
    }
    
    * {
        background-color: rosybrown;
    }
    
    h1 {
        color: black;
        display: flex;
        justify-content: left;
    }
    
    .Navigation {
        color: darkviolet;
        display: flex;
        justify-content: right;
    }
    
    .bottomcontainer {
        background-color: lightpink;
        color: darkviolet;
        display: flex;
        justify-content: center;
    }
    
    @media(max-width: 800px) {}
    
    @media(max-width: 500px) {}