    /* Add CSS styling here */
    
    h1 {
        color: whitesmoke;
        background-color: rebeccapurple;
    }
    
    .Navigation {
        color: whitesmoke;
        background-color: rebeccapurple;
    }