html {
    font-size: 62.5%
}

* {
    background-color: rosybrown;
}

h1 {
    color: black;
    display: flex;
    justify-content: center;
}

.Img {
    background-color: lightpink;
    display: flexbox;
    justify-content: center;
}

@media(max-width:800px) {}

@media(max-width:500px) {}